---
import Favicon from '../components/Favicon.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>魔法のスプレッドシート</title>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="content-title">
          <div class="top-icon">
            <img src="https://www.notion.so/icons/table_green.svg?mode=dark" />
          </div>
          <h1>魔法のスプレッドシート</h1>
          <p class="gray">ITエンジニアインターン情報が集まる魔法のスプレッドシート</p>
        </div>
        <a
          href="https://deep-professor-e3c.notion.site/049ca5329bbc4493bc9f4f5b3727d027?v=3b000340195242b0bd4b0741063ec259"
        >
          <div class="content-link">
            <img src="https://www.notion.so/icons/table_green.svg?mode=dark" />
            <div>魔法のスプレッドシート2023・夏</div>
          </div>
        </a>
        <h2 id="目次">目次</h2>
        <ul class="contents">
          <li><a href="#目次">目次</a></li>
          <li>
            <a href="#魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</a>
          </li>
          <li><a href="#フィードバック">フィードバック</a></li>
          <li><a href="#バックナンバー">バックナンバー</a></li>
          <li><a href="#管理者">管理者</a></li>
        </ul>
        <h2 id="魔法のスプレッドシートとは？">魔法のスプレッドシートとは？</h2>
        <p>
          ソフトウェアエンジニア志望の学生のためのインターンシップの情報が閲覧できる便利なデータベースです。
        </p>
        <p>応募締め切りや開催方法などの情報が一覧で確認できます。</p>
        <p>毎年、有志によって管理されています。</p>
        <h2 id="フィードバック">フィードバック</h2>
        <p>
          魔法のスプレッドシートに追加したいインターンシップ等の情報がありましたらURLをお知らせください。
        </p>
        <p>またデータベースに誤り等がありましたら改善点をお知らせください。</p>
        <p class="gray">データベースへの反映には数日かかる場合がございます。</p>
        <h2 id="バックナンバー">バックナンバー</h2>
        <ul>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=762111034"
              >2022夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=62946583"
              >2021夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=1644405096"
              >2020夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=0"
              >2019夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=1234947860"
              >2018夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=211039304"
              >2017夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=397387909"
              >2016夏ITエンジニアインターン</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/spreadsheets/d/1O4LqD6tfVisshD4YngjEKwpU1FQCGuD8vZ1qlVX0sBY/edit#gid=142019139"
              >2015夏ITエンジニアインターン</a
            >
          </li>
        </ul>
        <h2 id="管理者">管理者</h2>
        <ul>
          <li>2023</li>
          <ul>
            <li><a href="https://twitter.com/keigomichi">@keigomichi</a></li>
            <li><a href="https://twitter.com/cardseditor">@CardsEditor</a></li>
          </ul>
        </ul>
      </div>
    </main>
    <style>
      :root {
        --text-color: rgba(255, 255, 255, 0.81);
        --background-color: rgb(25, 25, 25);
        --content-link-background-color: #333;
        --line-color: rgba(255, 255, 255, 0.2);
        --anchor-color: rgba(255, 255, 255, 0.5);
      }

      @media (prefers-color-scheme: light) {
        :root {
          --text-color: #333;
          --background-color: #fafafa;
          --content-link-background-color: #eee;
          --line-color: rgba(0, 0, 0, 0.2);
          --anchor-color: rgba(0, 0, 0, 0.6);
        }

        img {
          filter: saturate(0.7);
        }
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
          'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans GB', メイリオ, Meiryo,
          'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
      }

      body {
        background-color: var(--background-color);
        color: var(--text-color);
        width: clamp(min(600px, calc(100% - 40px)), 90%, 800px);
        margin: 40px auto 80px auto;
        font-size: 16px;
        line-height: 2;
      }

      img {
        display: block;
        object-fit: cover;
        border-radius: 3px;
        width: 78px;
        height: 78px;
        transition: opacity 100ms ease-out 0s;
      }

      a {
        color: var(--anchor-color);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--line-color);
      }

      a:hover {
        opacity: 0.8;
      }

      h1 {
        font-size: clamp(32px, 5vw, 40px);
        font-weight: 700;
        margin: 2rem 0 1rem 0;
        line-height: 1.2;
      }

      h2 {
        font-size: clamp(24px, 4vw, 32px);
        line-height: 1.3;
        font-weight: 600;
        padding: 10px 0;
        margin: 2.4rem 0 1rem;
        border-bottom: 1px solid var(--line-color);
      }

      p {
        padding: 8px 2px;
      }

      iframe {
        max-width: 100%;
        margin-top: 20px;
      }

      ul {
        padding-left: 24px;
      }

      li {
        margin: 10px 0;
        line-height: 1.6;
      }

      .gray {
        color: var(--anchor-color);
      }

      .content-title {
        padding-top: clamp(0px, 4vw, 80px);
        padding-bottom: 20px;
      }

      .content-title p {
        padding-top: 0;
      }

      .top-icon {
        display: flex;
        align-items: end;
      }

      .top-icon img {
        width: 78px;
        height: 78px;
      }

      .content-link {
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        padding: 16px 20px;
        margin: 16px 0;
        background-color: var(--content-link-background-color);
        border-radius: 4px;
        color: var(--text-color);
      }

      .content-link img {
        width: 23.04px;
        height: 23.04px;
      }

      .contents {
        list-style-type: none;
        padding: 0;
      }
    </style>
  </body>
</html>
