---
interface Props {
  clipboardText: string;
}
const { clipboardText } = Astro.props;
---

<button
  class="content-button top-content-button"
  id="copy-button"
  data-clipboard-text={clipboardText}
>
  <div class="row-container">
    <img src="/copy.svg" />
    <div>リンクをコピー</div>
  </div>
</button>

<style>
  button {
    line-height: 2;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
  }
</style>

<script>
  const copyButton = document.getElementById('copy-button');
  if (copyButton === null) {
    throw new Error('copyButton is not found');
  }

  const clipText = copyButton.getAttribute('data-clipboard-text');

  copyButton.addEventListener('click', () => {
    clipText && navigator.clipboard.writeText(clipText);
  });
</script>
